<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
 <suite name="SanityTest" >
 <listeners>
<listener class-name="zoopla.uk.listenner.ListnerTest"/>
</listeners>
  <test name="SanityTest.uk" >
    <classes>
       <class name="zoopla.uk.myrunner.MyRunner"/>
    </classes>
  </test>
</suite>
 